body {
	background-color:#b7b9ee;
	background-image: url("../images/clean-textile.png");
}
header {
	max-width:980px;
}

h1 {
	font-size: 44px;
	padding: 20px;
	border: 3px dotted #c6e2ff;
	text-align: center;
	margin: 20px;
	width:100%;
	letter-spacing:2px;
	font-family: 'Josefin Sans', sans-serif;
}

div {
	text-align: center;
	font-family: 'Gudea', sans-serif;
	border: 3px solid #c6e2ff;
	font-size:24px;
	width: 980px;
	margin:20px 20px 20px 40px
}
.instructions {
	font-size:18px;
	line-height: 27px;
	border: 3px dotted #c6e2ff;
	height:inherit;
	font-family: 'Gudea', sans-serif;
}

.magicnumber, .guess{
	padding:60px 0px 60px 0px;
	font-size:48px;
	width:400px;
	margin-left:325px;
	font-family: 'Rock Salt', cursive;
}
.magicnumber {
	color:red;
}
.gems {
	border:none;
}
.guess {
	color:green;
}

.crystal {
	max-width:150px;
	padding:20px;
}

.howgood, .howbad {
	padding:10px 0px 10px 0px;
	font-size:18px;
	width:450px;
	margin:20px 20px 20px 40px;
	height:inherit;
	color:white;
}
.howgood {
	background-color:#5eb292;
	border-color:#5eb292;
}
.howbad{
	position:relative;
	top:-80px;
	left: 530px;
	background-color:#ff435a;
	border-color:#ff425a;
}
